.input-box {
  text-align: center;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: 100%;
}
.input-box input {
  padding: 2px 5px;
}
.input-box .button {
  padding: 5px 15px;
  color: white;
  background-color: #1e90ff;
  border: none;
  cursor: pointer;
}
.input-box input {
  min-width: 250px;
}
