.list-box {
  width: 100%;
}
.list-box-item {
  position: relative;
  min-height: 30px;
  padding: 8px 5px;
  border: 1px solid gray;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 8px;
  cursor: pointer;
}
.line {
  text-decoration: line-through;
}
.list-box-item img {
  position: absolute;
  right: 5px;
  top: 14px;
  width: 15px;
  z-index: 10;
}
.list-box-item .edit {
  position: absolute;
  right: 30px;
  top: 10px;
}
@media (min-width: 768px) {
  .list-box-item img {
    width: 18px;
    top: 12px;
  }
}
